.container {
    display: flex;
    justify-content: center;
    background-color: rgb(70, 125, 203);
}

.task-container {
    display: grid;
    border-radius: 6px;
    background-color: rgb(212, 212, 212);
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-family: calibri;
    height: auto;

}

h3 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 20px;
}

.task {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(142, 142, 142);
}

.task-sep {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(142, 142, 142);
}

a { 
    margin-top: 20px;
    text-decoration: none;
    opacity: 50%;
}

a:visited {
    color: black;
}

.input-text {
    position: relative;
    border: 0px solid;
    margin: 0px;
    font-size: 20px;
    width: 100%;
}

.input-text::-webkit-scrollbar {
    display: none;
  }

textarea:focus, input:focus{
    outline: none;
}

.close-btn {
    height: 12px;
    width: 12px;
    margin: auto;
    float: right;
}

.action-close {
    height: 15px;
    width: 15px;
    background-image: url("../img/close.png");
    background-size: 15px 15px;
    margin-left: 10px;
    margin-top: 30px;
    float: left;
}

.action-add {
    background-color: rgb(113, 218, 176);
    border-radius: 3px;
    box-shadow: 0px 3px 3px black;
    font-size: 20px;
    border: 0px solid;
    width: 100px;
    height: 35px;
    margin-top: 20px;
}

.action-close:hover {
    cursor: pointer;
}

.input-text:hover {
    cursor: default;
}

.action-add:hover {
    cursor: pointer;
}

.close-btn:hover {
    cursor: pointer;
}

.action {
    display: flex;
}

.active {
    background-image: url("../img/close.png");
    background-size: 12px 12px;
}

.dragged {
    position: absolute;
    z-index: 999;
}

.shadow {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(142, 142, 142);
}

.content {
    /* width: 90%; */
    max-width: 95%;
    min-height: 50px;
    background-color: rgb(202, 202, 202);
    padding: 10px;
}